@import '@fontsource-variable/sora';
@import '@fontsource-variable/inter';

:root {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

#root {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
